.container
{
  margin:0 auto;
  max-width:1065px;
  width: 90%;
}

section{
  padding:$space-2 0;
}


.image-container
{
  font-size:0;
  line-height: 1;
}

.image-container img
{
  line-height: 1;
}

.translucent
{
  opacity:0.9;
}

.full-height
{
  height:100%;
}

