
$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;

$size-default: $h4;


$sm-size-6: 50%;
$sm-size-5: 75%;
$sm-size-4: 100%;
$sm-size-3: 120%;
$sm-size-2: 135%;
$sm-size-1: 175%;

$size-6: 50%;
$size-5: 75%;
$size-4: 100%;
$size-3: 150%;
$size-2: 200%;
$size-1: 300%;


$caps-letter-spacing: 0;
/*
$size-4: $size-default;
$size-3: $size-default * 2 - 8px;
$size-2: $size-default * 3 - 8px;
$size-1: $size-default * 4 - 8px;
*/
